[init]
	defaultBranch = main
[user]
	email = ahmadaidin08.aa@gmail.com
	name = Ahmad Aidin
[push]
	followTags = true
[pull]
	rebase = true
[rebase]
	autostash = true
	autoSquash = true
	updateRefs = true
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
[merge]
	conflictstyle = zdiff3
[fetch]
	pruneTags = true
	all = true
[rerere]
	enabled = true
	autoupdate = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[help]
	autocorrect = prompt
[color]
	ui = auto
